.mainContainer {
    background-color: #fff;
    margin: 0 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 24px rgba(149, 157, 165, 0.4);
    z-index: 5;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 180px;
}

.linkContainer a{
    text-decoration: none;
    color: #1a73e8;
    font-weight: 500;
    border-radius: 2px;
    padding: 0 1px;
    font-size: 1rem;
    transition: all .2s ease;
    position: relative;
}
.linkContainer a:not(:nth-child(1)){
    margin-left: 15px;
}

.linkContainer a::before{
    position: absolute;
    content: "";
    width: 0;
    background: #1a73e8;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .2s ease;
}

.linkContainer :hover::before {
    width: 100%;
}

.linkContainer a:hover {
    color: #0b499b;
    border-bottom-color:#0b499b ;
}
.iconContainer {
    position: relative;
    width: 50px;
}
.iconContainer a {
    font-size: 40px;
    color: #1a73e8
}

.iconContainer span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a73e8;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: .75rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1200px) {
    .container {
        padding: 15px 80px;
    }    
}
@media (max-width: 768px) {
    .container {
        padding: 15px 0;
    }    
    .iconContainer{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .linkContainer {
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        background: #fff;
        height: 100vh;
        width: 250px;
        padding-top: 100px;
        padding-left: 50px;
    }

    .linkContainer a {
        margin-bottom: 50px;
    }
    
    .linkContainer a:nth-child(1){
        margin-left: 15px;
    }
    
@media (max-width: 555px) {
    .container {
        padding: 15px 20px;
    }    
}
}
